---
import Layout from '../layouts/Layout.astro';
import HomeHeader from '../components/HomeHeader.astro';
import HomeIntro from '../components/HomeIntro.astro';
import HomeSocials from '../components/HomeSocials.astro';
import HomeProjects from '../components/HomeProjects.astro';
---

<Layout>
	<main class="mx-auto flex min-h-screen w-full max-w-6xl flex-col px-6 py-8 sm:px-10">
		<HomeHeader />
		<HomeIntro />
		<HomeSocials />
		<HomeProjects />
	</main>
</Layout>
